
nav{
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #597445;
    margin: 0px;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
ul.navNRes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.navNRes li a{
    margin: 0px;
    color: white;
    list-style: none;
    font-family: 'Consolas',sans-serif;
    font-size: 16px;
    padding: 10px;
    margin: 5px;
    transition: .2s;
}

ul.navNRes li a:hover{
    color: #f2f2f2;
    border-radius: 5px;
    background-color: #658147;
    transform: scale(1.1);
}

.redes{
    margin-left: 20px;
}

.igBorder{
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 5px;
}
.titleFont{
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size:xx-large;
    color: white;
}

.menu{
    display: none;
}

.elemento{
    position: absolute;
    top: 8vh;
    height: 92vh;
    width: 60vw;
    background-color: #658147;
    z-index: 1;
    left: -100%;
    opacity: 0;
    transition: left 0.1s ease-in-out, opacity 0.1s ease-in-out;
}


/* Media queries */
@media (max-width: 768px){
    .elemento{
        position: absolute;
        top: 8vh;
        height: 92vh;
        width: 50vw;
        background-color: #658147;
        z-index: 1;
        left: -100%;
        opacity: 0;
        transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    .elemento.mostrar{
        position: absolute;
        left: 0;
        opacity: 0.95;
        transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    .menu{
        display: block;
        margin: 5px;
        margin-left: 20px;
    }

    .elemento ul li a{
        margin: 0px;
        padding: 10px;
        width: 100%;
        display: block;
        font-family: 'Roboto',sans-serif;
        font-weight: 500;
        font-size: 20px;
        border-bottom: rgba(0,0,0,20) 0.5px solid;
        text-align: center;

        color: white;
        list-style: none;
        font-family: 'Roboto',sans-serif;
        font-weight: 500;
        padding: 10px;
        transition: .2s;
    }
    .openMenu{
        display: none;
    }
    #navNR{
        display: none;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        padding-left: 30px;
        padding-right: 30px;
        background-color: #597445;
        margin: 0px;
    }
    .titleFont{
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size:24px;
        color: white;
    }


    .burger {
        position: relative;
        width: 40px;
        height: 30px;
        background: transparent;
        cursor: pointer;
        display: block;
        transform: scale(0.5);
      }
      
      .burger input {
        display: none;
      }
      
      .burger span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: #c4bcbc;;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
      }
      
      .burger span:nth-of-type(1) {
        top: 0px;
        transform-origin: left center;
      }
      
      .burger span:nth-of-type(2) {
        top: 50%;
        transform: translateY(-50%);
        transform-origin: left center;
      }
      
      .burger span:nth-of-type(3) {
        top: 100%;
        transform-origin: left center;
        transform: translateY(-100%);
      }
      
      .burger input:checked ~ span:nth-of-type(1) {
        transform: rotate(45deg);
        top: 0px;
        left: 5px;
      }
      
      .burger input:checked ~ span:nth-of-type(2) {
        width: 0%;
        opacity: 0;
      }
      
      .burger input:checked ~ span:nth-of-type(3) {
        transform: rotate(-45deg);
        top: 28px;
        left: 5px;
      }
}