.mapSector{
    height: 100%;
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E7F0DC;
    overflow: hidden;
    flex-flow: row wrap;
}


.map{
    width: 80%;
    height: 80%;
    border: 1px solid #333;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E7F0DC;
    overflow: hidden;
    flex-flow: row wrap;
}
.mapInfo{
    margin-left: 20px;
    width: 20%;
    height: 80%;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #E7F0DC;
    overflow: hidden;
    flex-flow: row wrap;    

}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
.propMap{
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: center;
    margin: 10px;
}
.prop{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: #333;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px){
    .mapInfo{
        width: 100%;
        margin: 0px;
    }

}